<%-include('layouts/header.ejs') %>

    <h2 class="mb-4" style="font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">Group Chatting
    </h2>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <% if(myGroups.length> 0) {
                    for(let i=0; i<myGroups.length; i++) { %>

                        <li class="list-group-item list-group-item-dark cursor-pointer group-list"
                            data-id='<%= myGroups[i]['_id']%>' >
                            <img src="<%='http://localhost:9000/'+myGroups[i]['image'] %>" alt="" height="50px"
                                width="50px" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            <%= myGroups[i]['name'] %>


                        </li>
                        <% } } %>

                <% if(joinedGroups.length> 0) {
                    for(let i=0; i<joinedGroups.length; i++) { %>

                        <li class="list-group-item list-group-item-dark cursor-pointer group-list"
                            data-id='<%= joinedGroups[i]['group_id']['_id']%>' >
                            <img src="<%='http://localhost:9000/'+joinedGroups[i]['group_id']['image'] %>" alt="" height="50px"
                                width="50px" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                            <%= joinedGroups[i]['group_id']['name'] %>


                        </li>
                        <% } } %>
            </ul>
        </div>

        <div class="col-md-8">
            
            <div class="group-chat-section chat-section">
                <div id="group-chat-container">
                    
                </div>

                <div class="group-chat-section chat-section chat-section2" >
                    <form action="" id="group-chat-form">
                    <input type="text" id="group-message" class="one border" placeholder="Enter Message"  required>
                    <input type="submit" value="Send" id="sendBtn" class="btn btn-primary">
                    <button type="button" class="first-btn btn" style="font-size: 1.2rem;">😀</button>
                    
                    
                    </form>
                    
                    <div id="gifBox">
                        <input type="text" id="gifSearchBox" placeholder="Search for GIFs...">
                        <button onclick="searchGifs()"  class="btn-succ">Search</button>
                    </div>
                    <div id="gifContainer"></div>
                </div>
                
            </div>
            
        </div>
        
    </div>


    <div class="modal fade" id="deleteGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete Chat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="delete-group-chat-form">
            <div class="modal-body">
                <input type="hidden" name="id" id="delete-group-message-id">
                <p>Are you sure you want to delete this message? This message will be deleted permanently!</p>
                <p><b id="delete-group-message"></b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
        </div>
    </div>
    </div>

    <div class="modal fade" id="updateGroupChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Chat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="update-group-chat-form">
            <div class="modal-body">
                <input type="hidden" name="id" id="update-group-message-id">
                <input type="text" name="message" id="update-group-message" required placeholder="Enter Message" class="two">
                <button type="button" class="second-btn btn">😀</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-info">Edit</button>
            </div>
        </form>
        </div>
    </div>
    </div>

    <script>


        

    </script>

    <script src="/vanillaEmojiPicker.js"></script>
    <script>
        
        
        new EmojiPicker({
            trigger: [
                {
                    selector: '.first-btn',
                    insertInto: ['.one', '.two'] // '.selector' can be used without array
                },
                {
                    selector: '.second-btn',
                    insertInto: '.two'
                }
            ],
            closeButton: true,
            //specialButtons: green
        });


    </script>
    <script>
        async function searchGifs() {
            const query = document.getElementById('gifSearchBox').value;
            const apiKey = 'XAXRs0ze8nkpFZjGhJJrUhRMM5LEdVgK';
            
            const url = `https://api.giphy.com/v1/gifs/search?q=${query}&limit=5&api_key=${apiKey}`;
            
            try {
                const response = await fetch(url);
                const data = await response.json();
                displayGifs(data.data);
            } catch (error) {
                console.error('Error fetching GIFs:', error);
            }
        }
        
        function displayGifs(gifs) {
            const container = document.getElementById('gifContainer');
            container.innerHTML = '';

            
            gifs.forEach(gif => {
                const img = document.createElement('img');
                img.src = gif.images.fixed_height.url;
                img.className = 'gif-item';
                img.onclick = () => addToChat(gif.images.fixed_height.url);
                container.appendChild(img);
            });

        }
        
        function addToChat(text) {
            const gifMsg = `<img src="${text}"class="gif-chat-item"></img>`;
            jQuery.noConflict();
            $.ajax({
                url: '/group-chat-save',
                type: 'post',
                data: {
                    sender_id: sender_id,
                    group_id: global_group_id,
                    message: gifMsg
                },
                success: (response) => {
                    if (response.success) {
                        //$('#message').val('');
                        //let chat = response.data.message;
                        let message = response.chat.message;
                        let html = `
                            <div class="current-user-chat" id='${response.chat._id}'>
                                <h5>
                                    <span>${message}</span> 
                                    <i class="fa fa-trash deleteGroupChat" aria-hidden="true" 
                                    data-id="${response.chat._id}" 
                                    data-toggle="modal" 
                                    data-target="#deleteGroupChatModal">
                                    </i>
                                </h5>
                            </div>
                        `;

                        
                        $('#group-chat-container').append(html);
                        socket.emit('newGroupChat', response.chat);
                        console.log(response.chat)
                        scrollChat();
                    }
                    else {
                        alert(data.msg)
                    }
                }
            });
        }
    </script>
    



    <%-include('layouts/footer.ejs') %> 